@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(100, 100, 100);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  height: 100%;
  width: auto;
}
ul {
  list-style-type: none;
  li {
  }
}
