@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(100, 100, 100);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  height: 100%;
  width: auto;
}
ul {
  list-style-type: none;
  li {
  }
}

.card {
  width: 342px;
  height: auto;
  margin: 10px;
  position: relative;
  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .flag {
    height: 15px;
    width: auto;
  }
  .fa-star {
    color: yellow;
  }
}

.card:hover .card-bg {
  opacity: 0.1;
}
.card:hover ul {
  opacity: 1;
}
